*.iml
.gradle
/local.properties

# User-specific configurations
.idea/caches/
.idea/dictionaries/**
!.idea/dictionaries/Project.xml
.idea/libraries/
.idea/shelf/
.idea/scopes/scope_settings.xml
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.keystore

