name: CI

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - docs/**
      - README.md
      - LICENSE
  pull_request:
    branches:
      - develop
    paths-ignore:
      - docs/**
      - README.md
      - LICENSE

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./.github/workflows/templates/setup-android
      with:
        use-cache: true

    - name: Run Compile
      run: ./gradlew assembleDebug

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./.github/workflows/templates/setup-android
      with:
        use-cache: true

    - name: Test with Gradle
      run: ./gradlew test --stacktrace

    - name: Get code coverage for JaCoCo
      run: ./gradlew jacocoDevelopDebugTestReport

    - name: Upload code coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        verbose: true

    - name: Upload test results and code coverage Artifact
      uses: actions/upload-artifact@v2
      if: success() || failure()
      with:
        name: results
        path: |
          **/build/reports/tests/**/*
          **/build/reports/test-results/**/*
          **/build/reports/jacoco/**/*
        if-no-files-found: warn
        retention-days: 14

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run Inspection
      run: ./gradlew lint

    - name: Show results on GitHub
      uses: yutailang0119/action-android-lint@v2
      with:
        report-path: '**/build/reports/lint-results-*.xml'

    - name: Upload results Artifact
      uses: actions/upload-artifact@v2
      if: success() || failure()
      with:
        name: results
        path: |
          **/build/reports/lint-results-*.html
          **/build/reports/lint-results-*.xml
        if-no-files-found: error
        retention-days: 14

  detekt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Lint with detekt
      run: ./gradlew detekt

    - name: Upload results Artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: results
        path: |
          **/build/reports/detekt/**/*
        if-no-files-found: error
        retention-days: 14

  ktlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install ktlint
      run: |
        curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.42.1/ktlint
        chmod a+x ktlint
        sudo mv ktlint /usr/local/bin/

    - name: Lint with ktlint
      run: ktlint --reporter=checkstyle,output=build/ktlint-report.xml
      continue-on-error: true

    - name: Show results on GitHub
      uses: yutailang0119/action-ktlint@v2
      with:
        report-path: build/ktlint-report.xml

    - name: Upload results Artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: results
        path: |
          **/build/ktlint-report.xml
        if-no-files-found: error
        retention-days: 14
